body {
    font-family: Arial, sans-serif;
    background: url("https://res.cloudinary.com/dyverf4kj/image/upload/v1767858752/Screenshot_2026-01-08_132511_wzlsrs.png")
                no-repeat center/cover;
    min-height: 50vh;
    margin: 0;
}

.box {
    background: rgba(0,0,0,0.75);
    color: white;
    padding: 30px;
    max-width: 1050px;
    margin: 50px auto;
    border-radius: 10px;
}

.hidden {
    display: none;
}

input, select, button {
    padding: 7px;
    margin: 5px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    
}

.logout {
    background: red;
    float: right;
}

li {
    background: #fff;
    color: #000000;
    margin: 3px 0;
    padding: 10px;
    display: flex;
    gap: 12px;
    align-items: center;
}

img {
    width: 60px;
    height: 80px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#userDetails {
    background: rgba(255,255,255,0.1);
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}








